<div class="page-header">
    <div class="row">
        <div class="col-xs-12">
          <h1>Data visualition <small>Exploratory research</small></h1>
        </div>
        <div class="col-xs-12">
          {{> nav}}
        </div>
    </div>
</div>