<ul class="nav nav-pills">
  <li role="presentation"{{#is pageTitle 'index'}} class="active"{{/is}}><a href="index.html">Home</a></li>
  <li role="presentation"{{#is pageTitle 'maps'}} class="active"{{/is}}><a href="maps.html">Maps</a></li>
  <li role="presentation"{{#is pageTitle 'trees'}} class="active"{{/is}}><a href="trees.html">Tree diagram</a></li>
</ul>